<input id="xx" style="font-size: 20px;border: 2px #000 solid"/>

<button onclick="reciteNum.run(document.getElementById('xx').value)">展示</button>













<div id="all_audio">

    <audio id="all_audio_0">
        <source src="../../audio/0.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_1">
        <source src="../../audio/1.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_2">
        <source src="../../audio/2.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_3">
        <source src="../../audio/3.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_4">
        <source src="../../audio/4.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_5">
        <source src="../../audio/5.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_6">
        <source src="../../audio/6.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_7">
        <source src="../../audio/7.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_8">
        <source src="../../audio/8.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_9">
        <source src="../../audio/9.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_DIAN">
        <source src="../../audio/DIAN.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_SHI">
        <source src="../../audio/SHI.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_BAI">
        <source src="../../audio/BAI.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_QIAN">
        <source src="../../audio/QIAN.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_WAN">
        <source src="../../audio/WAN.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_YYI">
        <source src="../../audio/YYI.mp3" type="audio/mpeg">
    </audio>

    <audio id="all_audio_YUAN">
        <source src="../../audio/YUAN.mp3" type="audio/mpeg">
    </audio>

</div>